.wrap-1200 {width:1200px; margin:0 auto;}

.bg-primary {background-color:#00CD3C;}
.bg-sub {background-color:#039EA1}
.bg-gray {background-color:#999 !important;}

.primary {color:#00CD3C;}

.border-primary {border-color:#00CD3C !important;}

.black {width:100%; height:100%; position:fixed; top:0; left:0; background-color: rgba(0,0,0,0.3); z-index:3;}

.pop {width:300px; padding:20px 30px; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); background-color:#fff; z-index:4; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.pop-title {margin-bottom:30px; font-size:18px; font-weight:500; text-align:center;}
.pop-contents {max-height:300px; overflow-y:auto;}
.pop-contents::-webkit-scrollbar {
    display: none;
}
.pop-btns {display:flex; width:100%; margin-top:30px;}
.pop-btns .pop-btn {flex:1; margin-left:5px; padding:8px 0; background-color:#999999; color:#fff; border-radius:5px; transition: box-shadow .3s;}
.pop-btns .pop-btn:hover {box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.pop-btns .pop-btn:first-child {flex:1; margin-left:0px; background-color:#039EA1;}


.input-wrap {margin-top:15px;}
.input-wrap:first-child {margin-top:0;}
.input {border:1px solid #e1e1e1; border-radius:5px; overflow:hidden;}
.input input {width:100%; padding:0 15px; line-height:35px; height:35px;}
.input-select select {width:100%; height:35px; padding:0 15px;}
.input-textarea textarea {display:block; padding:10px 15px; width:100%;}

.input-checkbox input {display:none;}
.input-checkbox label {padding:6px 0; padding-left:50px; position:relative; cursor:pointer;}
.input-checkbox label:before {display:block; content:""; width:35px; height:35px; position:absolute; left:0; top:0; border:2px solid #e1e1e1; border-radius:5px;}
.input-checkbox input:checked + label:after {display:block; content:""; width:10px; height:10px; position:absolute; left:15px; top:15px; background-color:#00CD3C; }
.input-checkbox input:checked + label:before {border-color:#00CD3C;}


@media screen and (max-width:1200px){
    .wrap-1200 {width:100%; padding:0 20px;}
}